<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_asset_root" name="Asset Scanner" sequence="1" groups="base.group_user" web_icon="asset_scanner,static/description/icon.png"/>

    <menuitem id="menu_assets" name="Assets" parent="menu_asset_root" action="asset_action" sequence="10"/>

    <menuitem id="menu_inventories" name="Inventories" parent="menu_asset_root" action="inventory_action" sequence="20"/>
</odoo>